DATABASE_URL="postgresql://postgres:postgres@localhost:5432/guzomarket?schema=public"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
AUTH_SESSION_SECRET="replace-with-at-least-32-random-characters"
AUTH_EMAIL_DELIVERY_MODE="development"
